body{
    margin: 0px;
    font-family: monospace;
    background-color: #000000;
    background-image: url(neo-culture.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;

}

.header{
    width: 100%;
    height: 100px;
    border-bottom: white;
    align-items: center;
    font-size: 20px;
    align-content: space-between;
    text-decoration: none;
}

.titulo{
    margin: 0px;
    color: white;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
    height: 100%;
}

.navbar{
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: white;
    display: flex;
    padding: 0px;
}

.banner{
    background-image: url(nctdream3.jpg);
    margin-left: 700px;
}

.video{
 margin: 370px;
 margin-top: 40px;
}

.fundo_video{
    background-color: black;
    width: 100%;
    height: 400px;
}

p{
   text-align: center;
   margin-left: 500px;
   margin-right: 500px; 
}

.caixa_branca{
margin-top: 20%;
margin-bottom: 30%;
}

footer{
    text-align: center;
    color: white; 
}

#img_centro{
    margin-left: 700px;
}

.frase {
    width: 50%;
}

.selecao_quiz{
    text-align: center;
    flex-direction: row;
}